.about {
  .label {
    @media (max-width: 1300px) {
      max-width: 100%;
    }
  }

  .text-part {
    @media (max-width: 1300px) {
      max-width: 100%;
    }
  }
}

.about__top {
  padding: 70px 0;

  @media (max-width: 768px) {
    padding-bottom: 45px;
  }

  .wrapper {
    display: flex;
    gap: 73px 32px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 768px) {
      gap: 26px;
    }
  }

}

.about__bottom {
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 156px;
    height: 100%;
    background-image: url(../img/texture-2.svg);
    background-size: cover;
    position: absolute;
    left: 0;
    background-repeat: no-repeat;

    @media (max-width: 1600px) {
      display: none;
    }
  }

  &::after {
    content: "";
    display: block;
    width: 50%;
    height: 100%;
    background-image: url(../img/bg-2.png);
    background-size: cover;
    position: absolute;
    right: 0;
    top: 0;
    background-repeat: no-repeat;

    @media (max-width: 1300px) {
      display: none;
    }
  }

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 1;
    position: relative;

    @media (max-width: 1300px) {
      padding-left: 0;
      padding-right: 0;
    }

    .benefits,
    .promo {
      width: calc(100% / 2);

      @media (max-width: 1300px) {
        width: 100%;
        max-width: 100%;
      }
    }
  }

  .custom-button {
    position: absolute;
    margin-left: 15px;
    bottom: 0;

    @media (max-width: 1300px) {
      bottom: initial;
      top: 0;
      margin-left: 48px;
    }

    @media (max-width: 7680px) {
      margin-left: 16px;
    }

  }
}

.about {
  .benefits {
    @media (max-width: 768px) {
      margin-bottom: 46px;
    }
  }

  .custom-button__left {
    @media (max-width: 768px) {
      width: 352px;
    }
  }

  .custom-button__right {
    @media (max-width: 768px) {
      width: 168px;
      height: 168px;
    }

  }
}
