.advance {
  background-color: $content-1;
  padding: 0;
  color: $bg-1;
  background-image: url(../img/bg-5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;

  @media (max-width: 650px) {
    background-image: none;
    background-color: initial;
    color: $content-1;
  }

  &::before {
    content: "";
    background: linear-gradient(360deg, rgba(107, 48, 18, 0.4) 0%, rgba(107, 48, 18, 0) 100%), linear-gradient(0deg, rgba(43, 27, 20, 0.15), rgba(43, 27, 20, 0.15));
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;

    @media (max-width: 650px) {
      display: none;
    }
  }

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../img/texture-1.svg);
    background-size: contain;
    position: absolute;
    left: 50%;
    top: 0;
    margin: auto;
    z-index: 2;

    @media (max-width: 650px) {
      display: none;
    }
  }

  .wrapper {
    display: grid;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;

    @media (max-width: 1024px) {
      grid-template-columns: 1fr;
    }
  }

  .label {
    max-width: 550px;
    margin-bottom: 60px;

    @media (max-width: 650px) {
      max-width: initial;
    }
  }

  .advance__left,
  .advance__right {
    z-index: 5;
    position: relative;
  }

  .advance__left {
    padding: 111px 0 100px;

    @media (max-width: 650px) {
      padding: 0;
    }
  }

  .benefits {
    margin-bottom: 0;
    gap: 70px 50px;

    @media (max-width: 650px) {
      margin-bottom: 35px;
    }

  }

  .label__details,
  .benefits p,
  .benefits span {
    color: $bg-1;

    @media (max-width: 650px) {
      color: $content-1;
    }
  }

  .benefits p {
    min-height: initial;
  }

  .custom-button {
    position: absolute;
    bottom: -1px;
    transform: translate(-96px);
    max-width: 416px;

    @media (max-width: 1024px) {
      transform: none;
      right: 0;
      max-width: 352px;
    }

    @media (max-width: 650px) {
      position: initial;
      display: block;
    }

    .custom-button__left {
      width: initial;

      @media (max-width: 650px) {
        background-color: #6B3012;
      }
    }

    .custom-button__text {
      @media (max-width: 650px) {
        color: $bg-1;
      }
    }
  }

  .benefits {
    @media (max-width: 425px) {
      gap: 32px;
    }
    li {
      @media (max-width: 650px) {
        grid-template-columns: 1fr;
      }
    }

    span {
      @media (max-width: 650px) {
        grid-column: initial;
      }
    }
  }

}

.advance__image {
  display: none;

  @media (max-width: 650px) {
    display: block;
    margin-bottom: 30px;
  }
}
