.contacts {
  background-color: $bg-6;
  padding: 150px 0 114px;

  @media (max-width: 768px) {
    padding-top: 145px;
    padding-bottom: 70px;
  }

  .wrapper {
    display: grid;
    gap: 32px;
    grid-template-columns: 416px auto;
    align-items: flex-start;

    @media (max-width: 1440px) {
      grid-template-columns: 1fr;
      gap: 22px;
    }
  }

  .label {
    @media (max-width: 1440px) {
      max-width: initial;
    }
  }

  .label__title:after {
    width: 52%;
  }

  .tel {
    margin-bottom: 13px;
    display: block;

    @media (max-width: 768px) {
      margin-bottom: 10px;
    }
  }

}

.contacts__details {
  margin-top: 35px;

  @media (max-width: 768px) {
    margin-top: 0;
  }
}

.contacts__list {
  @include listReset;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;

  @media (max-width: 768px) {
    gap: 20px;
  }

  li {
    width: calc((100% / 2) - 32px);

    @media (max-width: 768px) {
      width: 100%;
    }
  }
}

.contacts__item {
  padding-top: 30px;
  position: relative;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;

  p {
    margin: 0;
  }

  &::before {
    content: "";
  }

  .label__title {
    margin-bottom: 8px;
  }

  .label__title::after {
    display: none;

  }
}

.contacts__item--adres::before {
  content: url(../img/icon-11.svg);
}

.contacts__item--mail::before {
  content: url(../img/icon-12.svg);
}

.contacts__item--mail {
  a {
    font-family: $font-1;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: $bg-3;
  }
}

.contacts--mod {
  background-color: $bg-1;

  @media (max-width: 1024px) {
    padding: 60px 0;
  }

  .tel {
    font-size: 56px;
  }

  .wrapper {
    display: block;

    .label {
      max-width: initial;
    }
  }

  .label__details {
    @media (max-width: 1024px) {
      margin-bottom: 20px;
    }
  }

  .tel {
    @media (max-width: 1024px) {
      margin-bottom: 0;
    }
  }
}

.contacts__container {
  display: grid;
  gap: 32px;
  flex-wrap: wrap;
  justify-content: space-between;
  grid-template-columns: repeat(2, 1fr);

  @media (max-width: 1024px) {
    display: block;

  }
}
