.documents {
  padding: 110px 0 100px;
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 1797px;
    height: 197px;
    background-image: url(../img/texture-3.svg);
    background-size: cover;
    position: absolute;
    left: calc((100% - 1797px) / 2);
    bottom: -100px;
    z-index: 2;
  }

  .label {
    margin-bottom: 35px;
  }

  .label__title:after {
    width: 32%;
  }
  .documents-list {
    margin-bottom: 55px;
  }
}
