.hotline {
  .wrapper {
    display: grid;
    gap: 0;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    padding: 0;
    margin: 0;
    max-width: 100%;
    min-height: 725px;

    @media (max-width: 1300px) {
      grid-template-columns: 1fr;
    }

  }

  .map {
    @media (max-width: 1300px) {
      min-height: 672px;
    }
  }

  .custom-button__left {
    @media (max-width: 1300px) {
      width: 352px;
    }

  }

  .custom-button {
    width: 100%;
    max-width: 416px;
    grid-template-columns: auto;
  }

  .custom-button__left {
    width: 100%;
    padding: 35px 30px;
    padding-right: 70px;

    svg {
      margin-bottom: 10px;
    }
  }


}

.hotline__details {
  padding: 45px 128px;
  padding-bottom: 0;
  background-image: url(../img/bg-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  position: relative;
  min-height: 800px;
  height: 100%;

  @media (max-width: 768px) {
    min-height: 670px;
    padding-bottom: 0;
  }

  &::before {
    content: "";
    background: linear-gradient(360deg, rgba(107, 48, 18, 0.4) 0%, rgba(107, 48, 18, 0) 100%), linear-gradient(0deg, rgba(43, 27, 20, 0.15), rgba(43, 27, 20, 0.15));
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .label {
    position: relative;
    z-index: 11;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: flex-end;
  }

  .label__details {
    margin-bottom: 70px;
  }

  .label__title {
    color: $focus-3;

    &::after {
      background-color: $focus-3;
    }
  }

  .label__details {
    color: $bg-1;
  }

}
