.production {
  background-color: $bg-6;
  padding: 115px 0 124px;

  .wrapper {
    display: flex;
    gap: 73px 32px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .custom-button__left {
    width: 100%;
  }
  .text-part {
    max-width: 100%;
  }
}

.production__left {
  .label {
    margin-bottom: 73px;
    @media (max-width: 1024px) {
      max-width: initial;
    }
  }
  .label__title:after {
    width: 28%;
  }
}
