.production {
  background-color: $bg-6;
  padding: 115px 0 124px;

  @media (max-width: 768px) {
    padding-top: 70px;
  }

  @media (max-width: 425px) {
    padding-top: 40px;
    padding-bottom: 80px;
  }

  .wrapper {
    display: flex;
    gap: 73px 32px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    @media (max-width: 768px) {
      gap: 36px;
    }
  }

  .custom-button__left {
    @media (max-width: 1300px) {
      width: 100%;
    }

  }
  .text-part {
    @media (max-width: 1300px) {
      max-width: 100%;
    }
  }

  .decorate {
    @media (max-width: 768px) {
      gap: 32px;
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 650px) {
      grid-template-columns: 1fr;
      max-width: 100%;
    }
  }

  .custom-button {
    @media (max-width: 650px) {
      width: 100%;
      max-width: 100%;
      display: block;
    }
  }
}

.production__left {
  .label {
    margin-bottom: 73px;
    @media (max-width: 1300px) {
      max-width: initial;
    }
    @media (max-width: 768px) {
      margin-bottom: 40px;
    }
  }
  .label__title:after {
    width: 28%;
  }
}
