.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 16px 11px;
  font-family: $font-1;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  border-radius: 4px;
  max-width: max-content;
  text-decoration: none;
  transition: $nfs linear;
  cursor: pointer;

}

.button-transparent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 16px 11px;
  background: transparent;
  font-family: $font-1;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  border-radius: 4px;
  max-width: max-content;
  text-decoration: none;
  transition: $nfs linear;
  cursor: pointer;

}
