.custom-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 32px;
  margin-top: 72px;

  @media (max-width: 1024px) {
    margin-top: 40px;
  }
}


.custom-form__input-container {
  display: flex;
  flex-wrap: wrap;
  gap:  32px;
  justify-content: space-between;

  .custom-form__input {
    width: calc((100% / 4) - 32px);
    font-size: 24px;
    line-height: 100%;
    color: $content-1;
    background: $bg-1;
    border: 1px solid $bg-7;
    padding: 9px 23px 14px;

    @media (max-width: 1024px) {
     width: calc((100% / 2) - 16px);

    }

    @media (max-width: 750px) {
      width: 100%;
      font-size: 20px;

    }
  }
}

.custom-form__input--textarea {
  width: 100%;
  font-size: 24px;
  color: $content-1;
  background: $bg-1;
  border: 1px solid $bg-7;
  padding: 9px 23px 14px;
}

.custom-form__wrapper--bottom {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: space-between;

  .custom-form__label,
  .button {
    width: calc((100% / 2) - 32px);

    @media (max-width: 1024px) {
      width: 100%;

    }
  }
}
