.documents-list {
  @include listReset;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px 33px;

  @media (max-width: 1440px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 768px) {
    gap: 32px;
  }

  li {
    position: relative;
    display: flex;
    align-items: flex-start;
    padding-left: 40px;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: $content-1;

    &::before {
      content: url(../img/icon-10.svg);
      position: absolute;
      left: 0;
      top: 5px;
    }
  }

  a {
    font-family: $font-1;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: $content-1;
  }
}
