$content-1: #2B1B14;
$content-2: #2B1C14;

$bg-1: #ffffff;
$bg-2: #E5E5E5;
$bg-3: #6B3012;
$bg-4: #2B1B14;


$focus-1: #F7AB2B;
$focus-2: #E67A00;

$nfs: 0.3s;

$font-1: 'Montserrat',
sans-serif;
$font-2: 'Open Sans',
sans-serif;
